/* Viewports of 340px or less */

@media only screen and (max-width: 340px) {
    .header-area .main-menu .navbar,
    .header-area .main-menu .navbar .navbar-brand {
        padding: 4%;
        margin: 0;
    }

    .site-main .site-banner .site-title h1 {
        font-size: 41px;
    }

    .site-main > .skills-area .skills {
        width: 13rem;
    }

}

/* Viewports of 792px or less */

@media only screen and (max-width: 792px) {
    .site-main .about-area .about-title h2 > span {
        font-size: 31px;
        /* letter-spacing: 10px; */
    }

    .site-main .project-area .button-group button {
        font: normal 500 18px/40px "Montserrat";
    }

    .site-main .about-area .about-title p {
         padding: 0%;
    }

}

/* Viewports of 1440px or less */

@media only screen and (max-width: 1440px) {
    .header-area .main-menu .navbar {
        padding: 1rem;
    }

    .about-title h2 {
        text-align: center;
    }

    .about-area .about-title .paragraph > p {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

/* Viewports of 1910px or less */

@media only screen and (max-width: 1910px) {
    /* .header-area .main-menu .navbar {
        padding: 1rem;
    } */

    .container {
        max-width: 90%;
    }

    .site-main .skills-area .skills-title,
    .site-main .about-area {
        padding: 3% 4%;
    }

    .site-main .skills-area {
        padding: 7rem 0;
    }

    .site-main .skills-area .skills-list {
        padding: 0;
    }

    /* .site-main > .skills-area .skills {
        padding: 0;
    } */
}