html, body {
    background-color: #333;
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: auto;
    padding-top: 10px;
    padding-right: 10px;
    height: 3vh;
    /* position: fixed;
    top: 0; */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #f2f2f2;
}

li {
    float: right;
    padding-left: 30px;
}

.container {
    height: 50vh;
    width: 100%;
    /* padding: 100px; */
    background-color: white;
    /* padding: 100px; */
}

.landing {
    display: flex;
    flex-flow: row;
    /* flex-direction: row; */
    align-items: center;
    /* width: 60%; */
    margin: 0 auto;
    padding: 50px 100px 50px;
    background-color: darkgray;
}

.landing-left {
    background-color: bisque;
    padding: 20px;
    flex-basis: 70%;
}

.landing-right {
    background-color: burlywood;
    padding: 20px;
    flex-basis: 30%;
}

#portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

h1.landing-left {
    font-weight: 300;
    color: red;
}