html, body {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: auto;
    padding-top: 10px;
    padding-right: 10px;
    height: 3vh;
    /* position: fixed;
    top: 0; */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    /* color: #f2f2f2; */
}

li {
    float: right;
    padding-left: 30px;
}







.landing {
    /* background-color: cadetblue; */
    /* width: 100%; */
    width: 75%;
    margin: 0 auto;
    /* line-height: 90%; */
    background-color: #f2f2f2;
}

.landing h1 {
    color: rgb(199, 122, 0, 1);
    font-size: 5em;
    line-height: 30%;
}

.landing h2 {
    /* color: rgb(222, 137, 0, 1); */
    color: #fff;
    font-size: 3.5em;
    line-height: 30%;
}

.landing h3 {
    color: #fff;
    font-size: 1.5em;
    line-height: 10%;
}