{% extends "header.html" %}

{% block body %}

        <!-- <main role="main" class="inner cover">
            <h1 class="cover-heading">Hey, I'm Jake Brehm.</h1>
            <p class="lead">I do things sometimes.</p>
            <p class="lead">
            <a href="/about-me/" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main> -->

        <!-- <div class="container"> -->
            <div class="landing">

                <div class="landing-left">
                    <h3>Hey, my name is</h3>
                    <h1>Jake Brehm.</h1>
                    <h2>I do things sometimes.</h2>
                    <br>
                    <p>I'm a systems engineer currently working in the Buffalo, NY area.</p>
                    <br>
                    <p><a href="/">Get in touch</a></p>
                </div>

                <div class="landing-right">
                    <img id="portrait" src="{{ url_for('static', filename='portrait.jpg') }}">
                </div>

            </div>
        <!-- </div> -->


        <div class="landing">

            <div class="landing-left">
                <h3>Hey, my name is</h3>
                <h1>Jake Brehm.</h1>
                <h2>I do things sometimes.</h2>
                <br>
                <p>I'm a systems engineer currently working in the Buffalo, NY area.</p>
                <br>
                <p><a href="/">Get in touch</a></p>
            </div>

            <div class="landing-right">
                <img id="portrait" src="{{ url_for('static', filename='portrait.jpg') }}">
            </div>

        </div>


{% endblock %}