{% extends "header.html" %}

{% block body %}

        <!-- Header Area -->
        
        <header class="header-area">
            <div class="main-menu">
                <nav class="navbar navbar-expand-lg navbar-light navbar-default">
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static', filename='img/signature.png') }}" alt="site-logo" class="img-fluid">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="mr-auto"></div>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#projects">Projects</a>
                            </li>
                            <li class="nav-item">
                                <!-- <a href="{{ url_for('static', filename='resume.pdf') }}" class="btn nav-button text-uppercase">Resume</a> -->
                                <a href="{{ url_for('static', filename='resume.pdf') }}" class="btn nav-button text-uppercase">Resume</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <!-- Main Section -->

        <main class="site-main">

            <!-- Banner Section -->

            <section class="site-banner" id="home">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 site-title">
                            <div class="mx-auto site-title-contents">
                                <h4 class="title-text">Hey, my name is</h4>
                                <h1 class="title-text text-uppercase">Jake Brehm.</h1>
                                <h3 class="title-text text-uppercase">I'm an engineer.</h3>
                                <div class="site-buttons">
                                    <div class="d-flex flow-row flex-wrap">
                                        <a href="mailto:mail@jakebrehm.com" class="btn button primary-button mr-4 text-uppercase">Get in touch</a>
                                        <a href="{{ url_for('static', filename='resume.pdf') }}" class="btn button secondary-button text-uppercase">View my resume</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="about-area" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 about-title my-auto mx-auto text-center">
                            <h2 class="text-uppercase pt-5">
                                <span>A little about me</span>
                            </h2>
                            <div class="paragraph py-4 mx-auto">
                                <p class="para">
                                    I'm Jake, an engineer currently based in the Buffalo, NY area.
                                    I'm equipped with a bachelor's degree in mechanical engineering from
                                    <a href="https://www.clarkson.edu/">Clarkson University</a>, with
                                    a strong focus on math and physics.

                                </p>
                                <p class="para">
                                    Since graduating, my varied education and experiences have afforded me the
                                    opportunity to work in both the electrical and software engineering
                                    fields. My interests, as well as the bulk of my experience, currently lie in the latter.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Project Section -->

            <section class="project-area" id="projects">
                <div class="container">
                    <div class="pb-5 text-center">
                        <h1 class="project-title text-uppercase title-h1">Here are some of my projects</h1>
                    </div>

                    <div class="button-group">
                        <button type="button" data-filter="*">All</button>
                        <button type="button" data-filter=".featured" id="btn1" class="active">Featured</button>
                        {% for tag in tags %}
                            <button type="button" data-filter=".{{tag.lower().replace('/', '-')}}">{{tag}}</button>
                        {% endfor %}
                    </div>

                    <div class="row grid">
                        {% for project, info in projects.items() %}
                            <div class="col-lg-4 col-md-6 col-sm-12 element-item{% for tag in info['tags'] %} {{tag.lower().replace('/', '-')}}{% endfor %}">
                                <div class="project-item">
                                    {% if show_images and info['image'] %}
                                        <div class="img">
                                            <img src="{{ url_for('static', filename=info['image']) }}" alt="Reddit Downloader">
                                        </div>
                                    {% endif %}
                                    <div class="title">
                                        <h4 class="text-uppercase">{{project}}</h4>
                                        <span class="text-secondary">{{', '.join(info['tags'])}}</span>
                                    </div>

                                    <div class="description">
                                        {% if 'description' in info and info['description'] %}
                                            {{info['description']}}
                                        {% endif %}
                                    </div>

                                    <div class="project-links">
                                        {% if 'github' in info['links'] %}
                                            <a href="https://github.com/jakebrehm/{{info['links']['github']}}" target="_blank"><i class="fab fa-github"></i></a>
                                        {% endif %}
                                        {% if 'preview' in info['links'] %}
                                            <a href="{{info['links']['preview']}}" target="_blank"><i class="fas fa-play"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </section>

        </main>

        <!-- Footer and Social Menu -->

        <footer class="footer-area">
            <div class="social-menu">
                <div>
                    <h5 class="social-header text-uppercase text-center">My inbox is always open</h5>
                    <div class="social text-center">
                        <div>
                            <a href="mailto:mail@jakebrehm.com"><i class="fas fa-envelope"></i></a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/jacobbrehm/"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div>
                            <a href="https://github.com/jakebrehm"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright text-center">
                <p class="para">
                    Designed and built by Jake Brehm
                </p>
            </div>
        </footer>

{% endblock %}