{% extends "header.html" %}

{% block body %}

        <!-- Header Area -->
        
        <header class="header-area">
            <div class="main-menu">
                <nav class="navbar navbar-expand-lg navbar-light navbar-default">
                <!-- <nav class="navbar navbar-expand-sm navbar-light navbar-default"> -->
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static', filename='img/signature.png') }}" alt="site-logo" class="img-fluid">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="mr-auto"></div>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#skills">Skills</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="#projects">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Resume</a>
                            </li> -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <button type="button" class="btn button primary-button mr-4 text-uppercase">Resume</button>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <!-- Main Section -->

        <!-- <div class="landing">
            <h3>Hey, my name is</h3>
            <h1>Jake Brehm.</h1>
            <h2>I do things sometimes.</h2>
            <br>
            <p>I'm a systems engineer currently working in the Buffalo, NY area.</p>
            <br>
            <p><a href="/">Get in touch</a></p>
        </div> -->

        <main class="site-main">

            <!-- Banner Section -->

            <section class="site-banner" id="home">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 site-title">
                            <div class="mx-auto site-title-contents">
                                <h4 class="title-text">Hey, my name is</h4>
                                <h1 class="title-text text-uppercase">Jake Brehm.</h1>
                                <h3 class="title-text text-uppercase">I'm an engineer.</h3>
                                <div class="site-buttons">
                                    <div class="d-flex flow-row flex-wrap">
                                        <!-- <button type="button" class="btn button primary-button mr-4 text-uppercase">Get in touch</button> -->
                                        <!-- <button type="button" class="btn button secondary-button text-uppercase">
                                            <a href="{{ url_for('static', filename='resume.pdf') }}">View my resume</a>
                                        </button> -->
                                        <a href="mailto:mail@jakebrehm.com" class="btn button primary-button mr-4 text-uppercase">Get in touch</a>
                                        <a href="{{ url_for('static', filename='resume.pdf') }}" class="btn button secondary-button text-uppercase">View my resume</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- About Area -->

            <!-- <section class="about-area" id="about">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="about-image">
                                <img src="{{ url_for('static', filename='img/portrait.png') }}" alt="banner-portrait" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 about-title my-auto">
                            <h2 class="text-uppercase pt-5">
                                <span>A little about me</span>
                            </h2>
                            <div class="paragraph py-4">
                                <p class="para">
                                    I'm Jake, an engineer currently based in the Buffalo, NY area.
                                    I'm equipped with a bachelor's degree in mechanical engineering from
                                    <a href="https://www.clarkson.edu/">Clarkson University</a>, with
                                    a strong focus on math and physics.

                                </p>
                                <p class="para">
                                    Since graduating, my varied education and experienced have afforded me the
                                    opportunity to work in both the electrical and software engineering
                                    fields. My interests, as well as the bulk of my experience, currently lie in the latter.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->

            <section class="about-area" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 about-title my-auto mx-auto text-center">
                            <h2 class="text-uppercase pt-5">
                                <span>A little about me</span>
                            </h2>
                            <div class="paragraph py-4 mx-auto">
                                <p class="para">
                                    I'm Jake, an engineer currently based in the Buffalo, NY area.
                                    I'm equipped with a bachelor's degree in mechanical engineering from
                                    <a href="https://www.clarkson.edu/">Clarkson University</a>, with
                                    a strong focus on math and physics.

                                </p>
                                <p class="para">
                                    Since graduating, my varied education and experienced have afforded me the
                                    opportunity to work in both the electrical and software engineering
                                    fields. My interests, as well as the bulk of my experience, currently lie in the latter.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Skills Section -->

            <!-- <section class="skills-area" id="skills">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center skills-title">
                            <h1 class="text-uppercase title-text">What I Can Offer You</h1>
                            <p class="para">
                                Here are a few languages I've worked with and skills I've honed recently.
                            </p>
                        </div>
                    </div>
                <div class="container skills-list">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="skills mx-auto">
                                <div class="skills-image text-center py-4">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase">Python</h5>
                                    <p class="card-text text-secondary">
                                        I have been using Python, professionally and recreationally, for 2 years.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="skills mx-auto">
                                <div class="skills-image text-center py-4">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase">LabVIEW</h5>
                                    <p class="card-text text-secondary">
                                        I use LabVIEW professionally and have received a lot of training.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="skills mx-auto">
                                <div class="skills-image text-center py-4">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase">Automation</h5>
                                    <p class="card-text text-secondary">
                                        I automate common computer tasks and product testing professionally.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="skills mx-auto">
                                <div class="skills-image text-center py-4">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase">Software Development</h5>
                                    <p class="card-text text-secondary">
                                        I have been developing software, professionally and recreationally, using Python for 2 years.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </section> -->

            <!-- Project Section -->

            <section class="project-area" id="projects">
                <div class="container">
                    <div class="project-title pb-5 text-center">
                        <h1 class="text-uppercase title-h1">Here are some of my projects</h1>
                    </div>

                    <div class="button-group">
                        <button type="button" data-filter="*" id="btn1" class="active">All</button>
                        {% for tag in tags %}
                            <button type="button" data-filter=".{{tag.lower().replace('/', '-')}}">{{tag}}</button>
                        {% endfor %}
                    </div>

                    <div class="row grid">
                        {% for project, info in projects.items() %}
                            <div class="col-lg-4 col-md-6 col-sm-12 element-item{% for tag in info['tags'] %} {{tag.lower().replace('/', '-')}}{% endfor %}">
                                <div class="project-item">
                                    {% if show_images and info['image'] %}
                                        <div class="img">
                                            <img src="{{ url_for('static', filename=info['image']) }}" alt="Reddit Downloader">
                                        </div>
                                    {% endif %}
                                    <div class="title">
                                        <h4 class="text-uppercase">{{project}}</h4>
                                        <span class="text-secondary">{{', '.join(info['tags'])}}</span>
                                    </div>
                                    <div class="project-links">
                                        {% if 'github' in info['links'] %}
                                            <a href="https://github.com/jakebrehm/{{info['links']['github']}}" target="_blank"><i class="fab fa-github"></i></a>
                                        {% endif %}
                                        {% if 'preview' in info['links'] %}
                                            <a href="{{info['links']['preview']}}" target="_blank"><i class="fas fa-play"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </section>

        </main>

        <footer class="footer-area" id="contact">
            <div class="container">
                <!-- <div class="d-flex justify-content-center flex-wrap"> -->
                <div>
                    <div class="site-logo text-center py-4">
                        <!-- <a href="#"><img src="" alt=""></a> -->
                    </div>
                    <div class="social text-center">
                        <h5 class="text-uppercase">Other ways to get in touch</h5>
                        <a href="https://www.facebook.com/jakembrehm"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/brehmjake/"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/jakebrehm"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/jacobbrehm/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/jakebrehm"><i class="fab fa-github"></i></a>
                    </div>
                    <div class="copyright text-center">
                        <p class="para">
                            Designed and built by Jake Brehm
                        </p>
                    </div>
                </div>
            </div>
        </footer>

{% endblock %}